<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/base.css">

  <link rel="stylesheet" href="/app.css">
  <title>Home</title>
</head>

<body>
  <!-- Header -->
  <%- include("../partials/header.ejs") %>
    <!-- Hero -->
    <%- include("../partials/hero.ejs") %>

      <!-- Grid -->
      <div class="container">
        <h1 class="section__title">Popular Movie</h1>
        <div class="grid">
          <!-- card -->
         <% movies.forEach(movie => { %>
          <%- include("../partials/card.ejs", {movie : movie}) %>
         <% }) %>

        </div>
      </div>
      </div>


</body>

</html>
