<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="base.css">
  <link rel="stylesheet" href="signup.css">
  <title>Sign Up</title>
</head>

<body>
  <%- include("../partials/header.ejs") %>

    <div class="container">
      <form action="/user" method="post" class="form">
        <div class="form__username">
          <label for="username" class="form__label">Username</label>
          <input type="text" name="username" id="username" placeholder="Username" class="form__input">
        </div>

        <div class="form__email">
          <label for="email" class="form__label">Email</label>
          <input type="email" name="email" id="email" placeholder="Email" class="form__input">
        </div>

        <div class="form__password">
          <label for="password" class="form__label">Password</label>
          <input type="password" name="password1" id="password" placeholder="password" class="form__input">
        </div>

        <div class="form__password">
          <label for="password" class="form__label">Confirm Password</label>
          <input type="password" name="password2" id="password" placeholder="Confirm Password" class="form__input">
        </div>

        <button class="signup__btn" type="submit">Sign Up</button>
      </form>
    </div>

</body>

</html>
